In [1]:
import numpy as np
import pandas as pd

In [21]:
arr = np.array([11, 12, 13, 14, 15, 16, 17, 15, 11, 12, 14, 15, 16, 17])
result = np.where((arr > 12) & (arr < 16))
result # at what postion do you see arr > 12 and arr < 16

(array([ 2,  3,  4,  7, 10, 11], dtype=int64),)

In [2]:
data = pd.read_csv('C://Users//vipatha//02_ScientificStack_0719//data/BL-Flickr-Images-Book.csv')

data.head(5)

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [8]:
data['Place of Publication'] = data['Place of Publication'].str.replace('-',' ')
data['Place of Publication'] = data['Place of Publication'].str.replace('&','#')

In [10]:
data['Place of Publication'].head(20)

0                                  London
1                London; Virtue # Yorston
2                                  London
3                                  London
4                                  London
5                                  London
6                                  London
7     pp. 40. G. Bryan # Co: Oxford, 1898
8                                 London]
9                                  London
10                               Coventry
11                            Christiania
12                                Firenze
13                              Amsterdam
14                                 Savona
15                                 London
16                                  Paris
17                                  Paris
18                            Puerto Rico
19                               New York
Name: Place of Publication, dtype: object

In [16]:
london = data['Place of Publication'].str.contains('London')
oxford = data['Place of Publication'].str.contains('Oxford')

In [17]:
data['Place of Publication'] = np.where(london,'London',np.where(oxford,'Oxford',data['Place of Publication'].str.replace('#','&')))

In [19]:
data['Place of Publication'].head(20)

0          London
1          London
2          London
3          London
4          London
5          London
6          London
7          Oxford
8          London
9          London
10       Coventry
11    Christiania
12        Firenze
13      Amsterdam
14         Savona
15         London
16          Paris
17          Paris
18    Puerto Rico
19       New York
Name: Place of Publication, dtype: object