In [1]:
import pandas as pd 
import numpy as np

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. 

The basic method to create a Series is to call: pd.Series(data, index=[])

Here, data can be many different things:

- a Python dict
- an ndarray
- a scalar value (like 5)

In [5]:
arraySeries = pd.Series(np.random.rand(5), index=['a', 'b', 'c', 'd', 'e'])

In [6]:
arraySeries

a    0.299468
b    0.134334
c    0.016527
d    0.421958
e    0.065520
dtype: float64

In [7]:
dicta = {1:"apple", 2: "banana"}
dictSeries = pd.Series(dicta)
dictSeries

1     apple
2    banana
dtype: object

In [12]:
dictSeries.dtypes

dtype('O')

In [8]:
dictb = {"fruits": ["apple", "pineapple"], "veggies":["carrots", "eggplant"]}
dictSeriesb = pd.Series(dictb)
dictSeriesb

fruits      [apple, pineapple]
veggies    [carrots, eggplant]
dtype: object

In [10]:
dictSeriesb.dtype

dtype('O')

In [13]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
dict_Series = pd.Series(sdata)
dict_Series

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [14]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
dict_Series = pd.Series(sdata, index=states)
dict_Series

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [15]:
states = ['California', 'Ohio', 'Oregon', 'Texas', 'Washington']
dict_Series = pd.Series(sdata, index=states)
dict_Series

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Washington        NaN
dtype: float64

In [17]:
states = ['California', 'Ohio', 'Oregon', 'Mexico','Texas', 'Washington']
dict_Series = pd.Series(sdata, index=states)
dict_Series

California        NaN
Ohio          35000.0
Oregon        16000.0
Mexico            NaN
Texas         71000.0
Washington        NaN
dtype: float64